

<main class="form-signin " style="background-color: #FF9100" >
    <div class="main-container" style="background-color: antiquewhite;" >
  
      <form class="mat-elevation-z8 form-container" (ngSubmit)="onClick()" [formGroup]="userReactive" style="background-color:#FF9800"> 
            <h3 style="  text-align: center; font-size: xx-large; font-family: Georgia, 'Times New Roman', Times, serif; color: black;">Accedi</h3>
        <div class="row-form-container" >
          <mat-form-field appearance="fill" class="input-form" >
            <mat-label style="font-style: oblique;">Username</mat-label>
            <input matInput name="username" type="text" formControlName="username" placeholder="Inserire Username" style="font-style: oblique;">
            <mat-error *ngIf="userReactive.get('username')?.hasError('required')">Username obbligatorio</mat-error>
            <mat-error *ngIf="userReactive.get('username')?.hasError('minlength')">Il campo Username deve avere almeno 3
              caratteri</mat-error>
          </mat-form-field>
        </div>
        <div class="row-form-container ">
          <mat-form-field appearance="fill" class="input-form" >
            <mat-label style="font-style: oblique;">Password</mat-label>
            <input matInput name="password" type="password" formControlName="password" placeholder="Inserire la password" style="font-style: oblique;">
            <mat-error *ngIf="userReactive.get('password')?.hasError('required')">Password obbligatoria</mat-error>
            <mat-error *ngIf="userReactive.get('password')?.hasError('minlength')">Il campo Password deve avere almeno 3
              caratteri</mat-error>
          </mat-form-field>
        </div>
  
        <div style="display:flex; justify-content:center;" >
          <button type="submit" [disabled]="userReactive.invalid" mat-raised-button color="primary" style="font-style: oblique;">Sign in</button>
        </div>
  
      </form>
  
    </div>
  </main>